<!--The content below is only a placeholder and can be replaced.-->
<div *ngFor='let hackernews of hackernewsLates'>
  <mat-accordion closeAll>
    <mat-expansion-panel (opened)='selectedHackernews(hackernews)'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{hackernews}}
        </mat-panel-title>
        <mat-panel-description>
          See the news
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf='hackernewsTitle'>
        Title: {{hackernewsTitle.title}}
        Score: {{hackernewsTitle.score}}
        Type: {{hackernewsTitle.type}}
        Descendants: {{hackernewsTitle.descendants}}
        Kids: {{hackernewsTitle.kids}}
        URL: {{hackernewsTitle.url}}
      </div> 
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ngx-spinner></ngx-spinner>
